In [4]:
def myfunc():
    print ("hello pawan")

myfunc()

hello pawan

In [1]:
def print_name (name ):
    print(f"hello name {name}")
    
print_name("pawan")

hello name pawan

In [2]:
print_name("jens ")

hello name jens

In [5]:
def print_(name,age):
    print(f"hello {name}")
    print(f" your are {age} years old")

In [6]:
print_("neha",49)

hello neha
 your are 49 years old

In [8]:
def calculate_age (birth_year):
    return 2022 - birth_year


calculate_age(1992)

30

   # A feew things

In [9]:
ord("A")

65

In [10]:
ord("b")
# calculation of unique character

98

In [12]:
chr(69)

'E'

In [17]:
for c in range (65 ,65  + 26):
    print (f"{c} is {chr(c)}")

65 is A
66 is B
67 is C
68 is D
69 is E
70 is F
71 is G
72 is H
73 is I
74 is J
75 is K
76 is L
77 is M
78 is N
79 is O
80 is P
81 is Q
82 is R
83 is S
84 is T
85 is U
86 is V
87 is W
88 is X
89 is Y
90 is Z

In [19]:
hours = 50

(hours + 3 )% 24

5

In [26]:
def is_even (n):
    if n % 2 == 0:
            print("even")
    else :
            print("odd")
is_even(2)
is_even(5)
is_even(9)

even
odd
odd

In [28]:
for i in range(10):
    print(i,end=" ")
    is_even(i)

0 even
1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd