In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("data/salesdata.csv",delimiter=";",parse_dates=True,index_col='Date')
df

            Sales rep        Item  Price  Quantity  Sale
Date
2020-05-31        Mia     Markers      4         1     4
2020-02-01        Mia  Desk chair    199         2   398
2020-09-21     Oliver       Table   1099         2  2198
2020-07-15  Charlotte    Desk pad      9         2    18
2020-05-27       Emma        Book     12         1    12
...               ...         ...    ...       ...   ...
2020-02-28     Oliver  Desk chair    199         5   995
2020-10-01     Sophia       Table   1099         4  4396
2020-07-28     Sophia        Book     12         1    12
2020-06-21       Liam         Pen      3         4    12
2020-01-26       Noah  Desk chair    199         5   995

[1000 rows x 5 columns]

In [15]:
df.head()

            Sales rep        Item  Price  Quantity  Sale
Date
2020-05-31        Mia     Markers      4         1     4
2020-02-01        Mia  Desk chair    199         2   398
2020-09-21     Oliver       Table   1099         2  2198
2020-07-15  Charlotte    Desk pad      9         2    18
2020-05-27       Emma        Book     12         1    12

In [3]:
df.dtypes

Date         object
Sales rep    object
Item         object
Price         int64
Quantity      int64
Sale          int64
dtype: object

In [10]:
df.head()

         Date  Sales rep        Item  Price  Quantity  Sale
0  2020-05-31        Mia     Markers      4         1     4
1  2020-02-01        Mia  Desk chair    199         2   398
2  2020-09-21     Oliver       Table   1099         2  2198
3  2020-07-15  Charlotte    Desk pad      9         2    18
4  2020-05-27       Emma        Book     12         1    12

In [18]:
repr_sales = df.groupby('Sales rep').sum()['Sale']

C:\Users\pavan\AppData\Local\Temp\ipykernel_5068\3000242637.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  repr_sales = df.groupby('Sales rep').sum()['Sale']

In [24]:
monthly_sales =df.groupby(pd.Grouper(freq='M')).sum()['Sale']
monthly_sales.index = monthly_sales.index.month_name()

C:\Users\pavan\AppData\Local\Temp\ipykernel_5068\3641276704.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  monthly_sales =df.groupby(pd.Grouper(freq='M')).sum()['Sale']

In [25]:
monthly_sales

Date
January      69990
February     51847
March        67500
April        58401
May          40319
June         59397
July         64251
August       51571
September    55666
October      50093
November     57458
December     61941
Name: Sale, dtype: int64

In [29]:
workbook = pd.ExcelWriter("Salesreport.xlsx")
repr_sales.to_excel(workbook,sheet_name='Sales per rep')
monthly_sales.to_excel(workbook,sheet_name='Monthly')
workbook.close()

In [ ]:
workbook = pd.ExcelWriter("Salesreport.xlsx")
repr_sales.to_excel(workbook,sheet_name='Sales per rep')
monthly_sales.to_excel(workbook,sheet_name='Monthly')


workbook.close()